In [1]:
import numpy as np
import pandas as pd

In [2]:
rapido = pd.read_csv('Bookings.csv', sep=',')
rapido

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,7/26/2024,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/14183/1...
1,7/25/2024,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0,https://cdn-icons-png.flaticon.com/128/9983/99...
2,7/30/2024,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8,https://cdn-icons-png.flaticon.com/128/9983/99...
3,7/22/2024,3:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/6839/68...
4,7/2/2024,9:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0,https://cdn-icons-png.flaticon.com/128/3202/32...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20402,7/27/2024,19:46:00,CNR9637947510,Canceled by Customer,CID868443,Prime SUV,Richmond Town,Whitefield,NaN,NaN,AC is Not working,NaN,NaN,NaN,303,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/9983/99...
20403,7/18/2024,5:38:00,CNR4070839222,Success,CID902638,Mini,HSR Layout,Tumkur Road,175.0,60.0,NaN,NaN,No,NaN,412,Cash,16,3.3,3.6,https://cdn-icons-png.flaticon.com/128/3202/32...
20404,7/25/2024,12:38:00,CNR2768163393,Success,CID214557,eBike,Electronic City,MG Road,210.0,105.0,NaN,NaN,No,NaN,2184,Cash,21,3.9,3.0,https://cdn-icons-png.flaticon.com/128/6839/68...
20405,7/21/2024,7:58:00,CNR7143313454,Success,CID110375,Prime SUV,Cox Town,BTM Layout,294.0,90.0,NaN,NaN,No,NaN,283,UPI,6,4.2,4.7,https://cdn-icons-png.flaticon.com/128/9983/99...
20406,7/17/2024,2:53:00,CNR4049412680,Canceled by Driver,CID420033,Prime Sedan,JP Nagar,Shantinagar,NaN,NaN,NaN,Customer was coughing/sick,NaN,NaN,533,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/14183/1...

In [3]:
rapido = rapido.rename(columns={'Date' : 'date',
                                'Time' : 'time', 
                                'Booking_ID' : 'booking_id',
                                'Booking_Status' : 'booking_status',
                                'Customer_ID' : 'cust_id',
                                'Vehicle_Type' : 'vehicle',
                                'Pickup_Location' : 'pickup',
                                'Drop_Location' : 'drop',
                                'V_TAT' : 'vtat',
                                'C_TAT' : 'ctat',
                                'Canceled_Rides_by_Customer' : 'canceled_by_cust',
                                'Canceled_Rides_by_Driver' : 'canceled_by_driver',
                                'Incomplete_Rides' : 'incomplete',
                                'Incomplete_Rides_Reason' : 'reason',
                                'Booking_Value' : 'value',
                                'Payment_Method' : 'payment',
                                'Ride_Distance' : 'dist',
                                'Driver_Ratings' : 'driver_rate',
                                'Customer_Rating' : 'cust_rate',
                                'Vehicle Images' : 'image'})

In [4]:
rapido.drop(columns='image')

,date,time,booking_id,booking_status,cust_id,vehicle,pickup,drop,vtat,ctat,canceled_by_cust,canceled_by_driver,incomplete,reason,value,payment,dist,driver_rate,cust_rate
0,7/26/2024,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN
1,7/25/2024,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0
2,7/30/2024,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8
3,7/22/2024,3:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN
4,7/2/2024,9:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20402,7/27/2024,19:46:00,CNR9637947510,Canceled by Customer,CID868443,Prime SUV,Richmond Town,Whitefield,NaN,NaN,AC is Not working,NaN,NaN,NaN,303,NaN,0,NaN,NaN
20403,7/18/2024,5:38:00,CNR4070839222,Success,CID902638,Mini,HSR Layout,Tumkur Road,175.0,60.0,NaN,NaN,No,NaN,412,Cash,16,3.3,3.6
20404,7/25/2024,12:38:00,CNR2768163393,Success,CID214557,eBike,Electronic City,MG Road,210.0,105.0,NaN,NaN,No,NaN,2184,Cash,21,3.9,3.0
20405,7/21/2024,7:58:00,CNR7143313454,Success,CID110375,Prime SUV,Cox Town,BTM Layout,294.0,90.0,NaN,NaN,No,NaN,283,UPI,6,4.2,4.7
20406,7/17/2024,2:53:00,CNR4049412680,Canceled by Driver,CID420033,Prime Sedan,JP Nagar,Shantinagar,NaN,NaN,NaN,Customer was coughing/sick,NaN,NaN,533,NaN,0,NaN,NaN

## üìä 1Ô∏è‚É£ Business Overview Insights

### Q1. What is the total number of bookings?

In [5]:
rapido['booking_id'].nunique()

20407

### Q2. What percentage of rides were Successful vs Canceled vs Incomplete?

In [6]:
rapido['booking_status'].value_counts()

booking_status
Success                 12652
Canceled by Driver       3654
Canceled by Customer     2081
Driver Not Found         2020
Name: count, dtype: int64

### Q3. What is the overall ride success rate?

In [7]:
(rapido['booking_status']=='Success').mean() * 100

np.float64(61.99833390503259)

### Q4. Which vehicle type has the highest number of bookings?

In [8]:
rapido['vehicle'].value_counts()

vehicle
eBike          2997
Bike           2949
Prime Sedan    2945
Prime SUV      2945
Auto           2916
Mini           2867
Prime Plus     2788
Name: count, dtype: int64

### Q5. Which vehicle type contributes the most revenue?

In [9]:
successful = rapido[rapido['booking_status']=='Success']

In [10]:
successful.groupby('vehicle')['value'].sum().sort_values(ascending=False)

vehicle
Prime Sedan    1056843
eBike           994764
Auto            992781
Bike            985073
Mini            973646
Prime SUV       962248
Prime Plus      934879
Name: value, dtype: int64

## üí∞ 2Ô∏è‚É£ Revenue & Booking Value Insights

### Q6. What is the total revenue generated?

In [11]:
rapido['value'].sum()

np.int64(11148671)

### Q7. What is the average booking value overall?

In [12]:
rapido['value'].mean()

np.float64(546.3160190130837)

### Q8. Which vehicle type has the highest average booking value?

In [13]:
successful.groupby('vehicle')['value'].mean().sort_values(ascending=False)

vehicle
Prime Sedan    570.649568
Prime Plus     556.475595
Auto           547.590182
Mini           540.614103
Prime SUV      539.376682
eBike          532.528908
Bike           531.323085
Name: value, dtype: float64

### Q9. What is the revenue lost due to canceled rides?

In [14]:
rapido[rapido['booking_status']!='Success']['value'].sum()

np.int64(4248437)

### Q10. Do longer rides generate proportionally higher booking value?

In [15]:
successful[['dist','value']].corr()

           dist     value
dist   1.000000  0.003684
value  0.003684  1.000000

## ‚ùå 3Ô∏è‚É£ Cancellation Analysis (Very Important for Business)

### Q11. What is the overall cancellation rate?

In [16]:
(rapido['booking_status']!='Success').mean() * 100

np.float64(38.00166609496741)

### Q12. What % of rides are cancelled by customers vs drivers?

In [17]:
fail = rapido[rapido['booking_status']!='Success']

In [1]:
fail['booking_status'].value_counts()

NameError: name 'fail' is not defined

### Q13. What are the top reasons for customer cancellations?

In [19]:
rapido[rapido['booking_status']=='Canceled by Customer']['reason'].value_counts().head()

Series([], Name: count, dtype: int64)

### Q14. What are the top reasons for driver cancellations?

In [20]:
rapido[rapido['booking_status']=='Canceled by Driver']['reason'].value_counts().head()

Series([], Name: count, dtype: int64)

### Q15. Which vehicle type has the highest cancellation rate?

In [21]:
cancel_vehicle = rapido[rapido['booking_status']!='Success'].groupby('vehicle').size()
cancel_vehicle

vehicle
Auto           1103
Bike           1095
Mini           1066
Prime Plus     1108
Prime SUV      1161
Prime Sedan    1093
eBike          1129
dtype: int64

In [22]:
total_vehicle = rapido.groupby('vehicle').size()
total_vehicle

vehicle
Auto           2916
Bike           2949
Mini           2867
Prime Plus     2788
Prime SUV      2945
Prime Sedan    2945
eBike          2997
dtype: int64

In [23]:
cancel_rate = (cancel_vehicle / total_vehicle * 100)
cancel_rate.sort_values(ascending=False).idxmax()

'Prime Plus'

### Q16. Which pickup locations experience the most cancellations?

In [24]:
fail['pickup'].value_counts().idxmax()

'Kengeri'

### Q17. Does higher V_TAT lead to more cancellations?

In [25]:
rapido.groupby('booking_status')['vtat'].mean()

booking_status
Canceled by Customer           NaN
Canceled by Driver             NaN
Driver Not Found               NaN
Success                 170.640768
Name: vtat, dtype: float64

## ‚è± 4Ô∏è‚É£ Time Analysis (TAT Insights)

### Q18. What is the average Vehicle Turnaround Time (V_TAT)?

In [26]:
rapido['vtat'].mean()

np.float64(170.64076825798293)

### Q19. What is the average Customer TAT (C_TAT)?

In [27]:
rapido['ctat'].mean()

np.float64(85.18376541258299)

### Q20. Which vehicle type has the lowest average V_TAT?

In [28]:
successful.groupby('vehicle')['vtat'].mean().sort_values().idxmin()

'Prime SUV'

### Q21. Do longer TATs result in lower customer ratings?

In [29]:
successful[['vtat','ctat','cust_rate']].corr()

               vtat      ctat  cust_rate
vtat       1.000000 -0.008950   0.007007
ctat      -0.008950  1.000000  -0.000839
cust_rate  0.007007 -0.000839   1.000000

### Q22. Which time of day has the highest bookings?

In [30]:
rapido['hour'] = pd.to_datetime(rapido['time']).dt.hour
rapido['hour'].value_counts().sort_values(ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_9840\2453909616.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  rapido['hour'] = pd.to_datetime(rapido['time']).dt.hour

hour
10    906
8     893
9     874
7     867
4     864
3     862
6     860
11    859
13    857
15    855
18    855
23    852
17    848
21    847
12    846
0     845
22    844
1     839
20    838
19    830
2     829
16    824
14    813
5     800
Name: count, dtype: int64

### Q23. Which time slot has the highest cancellation rate?

In [31]:
cancel_hour = rapido[rapido['booking_status']!='Success'].groupby('hour').size()
cancel_hour

hour
0     310
1     298
2     301
3     318
4     345
5     293
6     334
7     326
8     347
9     336
10    367
11    324
12    296
13    327
14    298
15    314
16    328
17    328
18    328
19    319
20    337
21    322
22    333
23    326
dtype: int64

In [32]:
total_cancel = rapido.groupby('hour').size()
total_cancel

hour
0     845
1     839
2     829
3     862
4     864
5     800
6     860
7     867
8     893
9     874
10    906
11    859
12    846
13    857
14    813
15    855
16    824
17    848
18    855
19    830
20    838
21    847
22    844
23    852
dtype: int64

In [33]:
(cancel_hour / total_cancel * 100).sort_values(ascending=False).head(5)

hour
10    40.507726
20    40.214797
4     39.930556
16    39.805825
22    39.454976
dtype: float64

## üöò 5Ô∏è‚É£ Vehicle Performance Insights

### Q24. Which vehicle type is most preferred by customers?

In [34]:
rapido['vehicle'].value_counts()

vehicle
eBike          2997
Bike           2949
Prime Sedan    2945
Prime SUV      2945
Auto           2916
Mini           2867
Prime Plus     2788
Name: count, dtype: int64

### Q25. Which vehicle type generates the highest revenue per ride?

In [35]:
rapido.groupby('vehicle')['value'].mean().sort_values(ascending=False)

vehicle
Prime Sedan    565.449576
Prime Plus     553.647418
Mini           548.872689
Auto           544.059328
eBike          539.992326
Bike           537.110546
Prime SUV      535.640747
Name: value, dtype: float64

### Q26. Which vehicle type has the best average driver ratings?

In [36]:
rapido.groupby('vehicle')['driver_rate'].mean().sort_values(ascending=False)

vehicle
Prime Plus     4.008929
eBike          4.004069
Prime SUV      4.001457
Prime Sedan    3.995086
Bike           3.992287
Mini           3.991005
Auto           3.990347
Name: driver_rate, dtype: float64

### Q27. Which vehicle type has the lowest cancellation rate?

In [37]:
cancel_rate.sort_values()

vehicle
Prime Sedan    37.113752
Bike           37.131231
Mini           37.181723
eBike          37.671004
Auto           37.825789
Prime SUV      39.422750
Prime Plus     39.741750
dtype: float64

### Q28. What is the average ride distance per vehicle type?

In [38]:
rapido.groupby('vehicle')['dist'].mean()

vehicle
Auto            6.214678
Bike           16.155985
Mini           15.715033
Prime Plus     14.871234
Prime SUV      15.187097
Prime Sedan    15.270289
eBike          15.679680
Name: dist, dtype: float64

## üìç 6Ô∏è‚É£ Location-Based Insights

### Q29. Which pickup location has the highest demand?

In [39]:
rapido['pickup'].value_counts().idxmax()

'Sarjapur Road'

### Q30. Which drop location is most common?

In [40]:
rapido['drop'].value_counts().idxmax()

'Majestic'

### Q31. Which routes (Pickup ‚Üí Drop) are most frequent?

In [41]:
rapido['route'] = rapido['pickup'] + '->' + rapido['drop']

In [42]:
rapido['route'].value_counts().idxmax()

'Kengeri->Yeshwanthpur'

### Q32. Which locations generate the highest revenue?

In [43]:
rapido.groupby('pickup')['value'].sum().sort_values(ascending=False).idxmax()

'JP Nagar'

### Q33. Which locations have the worst cancellation problems?

In [44]:
cancel_location = rapido[rapido['booking_status']!='Success'].groupby('pickup').size()

In [45]:
total_location = rapido.groupby('pickup').size()

In [46]:
(cancel_location / total_location * 100).sort_values(ascending=False).head(5)

pickup
Kengeri          43.418014
Tumkur Road      42.325581
Sahakar Nagar    42.195122
Langford Town    42.079208
Sarjapur Road    41.348315
dtype: float64

## üí≥ 7Ô∏è‚É£ Payment Insights

### Q34. What is the most preferred payment method?

In [47]:
rapido['payment'].value_counts()

payment
Cash           6934
UPI            5113
Credit Card     480
Debit Card      125
Name: count, dtype: int64

### Q35. Does payment method influence cancellation rate?

In [48]:
cancel_pay = rapido[rapido['booking_status']!='Success'].groupby('payment').size()
cancel_pay

Series([], dtype: int64)

In [49]:
total_pay = rapido.groupby('payment').size()
total_pay

payment
Cash           6934
Credit Card     480
Debit Card      125
UPI            5113
dtype: int64

In [50]:
(cancel_pay / total_pay * 100).round(2)

payment
Cash          NaN
Credit Card   NaN
Debit Card    NaN
UPI           NaN
dtype: float64

### Q36. Which payment method generates highest revenue?

In [51]:
rapido.groupby('payment')['value'].sum().idxmax()

'Cash'

### Q37. Are cash rides more likely to be canceled?

In [52]:
None

## ‚≠ê 8Ô∏è‚É£ Ratings & Experience Insights

### Q38. What is the average driver rating?

In [53]:
rapido['driver_rate'].mean()

np.float64(3.9974786595004743)

### Q39. What is the average customer rating?

In [54]:
rapido['cust_rate'].mean()

np.float64(3.993771735693961)

### Q40. Is there a correlation between ride distance and ratings?

In [56]:
rapido[['dist','cust_rate','driver_rate']].corr()

                 dist  cust_rate  driver_rate
dist         1.000000   0.013115     0.005165
cust_rate    0.013115   1.000000    -0.016435
driver_rate  0.005165  -0.016435     1.000000

### Q42. Which vehicle type has the highest customer satisfaction?

In [61]:
rapido.groupby('vehicle')['cust_rate'].mean().sort_values(ascending=False)

vehicle
Mini           4.019822
Auto           4.004964
Prime Plus     4.001667
Prime Sedan    3.986663
eBike          3.984582
Prime SUV      3.981166
Bike           3.978857
Name: cust_rate, dtype: float64

## üìâ 9Ô∏è‚É£ Incomplete Ride Insights

### Q43. What % of rides are marked incomplete?

In [64]:
(rapido['booking_status']=='Incomplete').mean()

np.float64(0.0)

### Q44. What are the top reasons for incomplete rides?

In [65]:
rapido['reason'].value_counts()

reason
Vehicle Breakdown    322
Customer Demand      313
Other Issue          160
Name: count, dtype: int64

### Q45. Which vehicle type has the highest incomplete rate?

In [74]:
rapido.groupby('vehicle')['incomplete'].value_counts()

vehicle      incomplete
Auto         No            1720
             Yes             93
Bike         No            1721
             Yes            133
Mini         No            1707
             Yes             94
Prime Plus   No            1582
             Yes             98
Prime SUV    No            1662
             Yes            122
Prime Sedan  No            1727
             Yes            125
eBike        No            1738
             Yes            130
Name: count, dtype: int64

### Q46. Do incomplete rides affect driver ratings?

In [80]:
rapido[rapido['incomplete']=='Yes']['driver_rate'].mean()

np.float64(4.006037735849056)

## üìà üîü Advanced Strategic Insights (For LinkedIn-Level Analysis)

### Q47. What factors most strongly influence ride success? (TAT, distance, payment, vehicle type)

In [84]:
rapido['is_success'] = (rapido['booking_status']=='Success').astype(int)
rapido[['is_success','vtat','ctat','dist']].corr()

            is_success      vtat      ctat      dist
is_success    1.000000       NaN       NaN  0.700473
vtat               NaN  1.000000 -0.008950 -0.010875
ctat               NaN -0.008950  1.000000  0.009081
dist          0.700473 -0.010875  0.009081  1.000000

### Q48. Which vehicle type gives the best revenue-to-cancellation ratio?

In [86]:
revenue_by_vehicle = rapido.groupby('vehicle')['value'].sum()
cancel_count = rapido[rapido['booking_status']!='Success'].groupby('vehicle').size()

(revenue_by_vehicle / cancel_count).sort_values(ascending=False)

vehicle
Prime Sedan    1523.558097
Mini           1476.189493
Bike           1446.519635
Auto           1438.329102
eBike          1433.442870
Prime Plus     1393.112816
Prime SUV      1358.709733
dtype: float64

### Q49. At what ride distance does booking value increase sharply?

In [90]:
successful.groupby(pd.cut(successful['dist'], bins=[0,10,20,30,40,50], labels=['V.Short','Short','Medium','Long','Longest']))['value'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_9840\4086162998.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  successful.groupby(pd.cut(successful['dist'], bins=[0,10,20,30,40,50], labels=['V.Short','Short','Medium','Long','Longest']))['value'].mean()

dist
V.Short    543.615623
Short      541.803506
Medium     551.447124
Long       547.041009
Longest    545.292899
Name: value, dtype: float64

### Q50. Which combination of pickup location + vehicle type is most profitable?

In [91]:
successful.groupby(['vehicle','pickup'])['value'].sum().sort_values(ascending=False)

vehicle      pickup
Prime Sedan  Peenya          37106
Bike         JP Nagar        33127
eBike        MG Road         32094
Auto         Varthur         31366
Prime Plus   RT Nagar        31231
                             ...
             Rajajinagar     10289
             Yeshwanthpur     9877
             Majestic         9648
Mini         Indiranagar      9451
eBike        Varthur          8637
Name: value, Length: 350, dtype: int64

### Q51. Can peak-hour surge be identified from booking value patterns?

In [96]:
successful['hour'] = pd.to_datetime(successful['time']).dt.hour

C:\Users\HP\AppData\Local\Temp\ipykernel_9840\4146795142.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  successful['hour'] = pd.to_datetime(successful['time']).dt.hour
C:\Users\HP\AppData\Local\Temp\ipykernel_9840\4146795142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  successful['hour'] = pd.to_datetime(successful['time']).dt.hour

In [98]:
successful.groupby((pd.cut(successful['hour'], bins=[0,4,8,12,16,20,24], labels=['Late','Early','Peak1','Afternoon','Peak2','LateNight'])))['value'].mean().sort_values(ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_9840\18539623.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  successful.groupby((pd.cut(successful['hour'], bins=[0,4,8,12,16,20,24], labels=['Late','Early','Peak1','Afternoon','Peak2','LateNight'])))['value'].mean().sort_values(ascending=False)

hour
Afternoon    554.999520
Peak1        548.250231
Peak2        547.508985
Late         546.726548
LateNight    535.876440
Early        532.647170
Name: value, dtype: float64

### Q52. What is the revenue per kilometer by vehicle type?

In [100]:
successful['revenue_per_km'] = successful['value'] / successful['dist']
successful.groupby('vehicle')['revenue_per_km'].mean().sort_values(ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_9840\1164945074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  successful['revenue_per_km'] = successful['value'] / successful['dist']

vehicle
Auto           100.839867
Prime Sedan     53.386457
Mini            51.847125
Prime Plus      50.241410
Bike            49.315442
eBike           48.583239
Prime SUV       46.112592
Name: revenue_per_km, dtype: float64

### Q53. Which customers (repeat IDs) generate the highest revenue?

In [101]:
successful.groupby('cust_id')['value'].sum().sort_values(ascending=False)

cust_id
CID836942    3757
CID307511    3242
CID940408    3182
CID367635    3098
CID449284    2999
             ...
CID640127     100
CID692872     100
CID189565     100
CID747313     100
CID946289     100
Name: value, Length: 12562, dtype: int64